# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE junk
.DS_Store
Thumbs.db
.vscode/
*.swp

# Output
dist/
build/
.env
